* {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1,
small {
  display: flex;
  align-items: center;
  justify-content: center;
}
